<div class="container">

    <header class="col-12 mt-3">
        <nav class="navbar navbar-dark bg-info navbar-expand">
            <a routerLink="/" class="navbar-brand">Sample App</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/']">Posts</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/posts/create']">New post</a>
                </li>
            </ul>
        </nav>
    </header>

    <h1 class="text-center my-4">{{ title }}</h1>

    <router-outlet></router-outlet>
</div>

