<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="post">

    <div class="form-group row">
        <label for="title" class="col-12 col-md-2 col-xl-2 col-form-label">
            Title *
        </label>
        <div class="col-12 col-md-10 col-xl-10">
            <input class="form-control" id="title"
                   [formControl]="form.controls['title']"
                   [ngClass]="{'is-invalid': !isValid('title')}"
                   [(ngModel)]="post.title"/>
            <div class="form-text text-danger"
                 *ngIf="form.controls['title'].touched && form.controls['title'].hasError('required')">
                Title is required
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="user_id" class="col-12 col-md-2 col-xl-2 col-form-label">
            Author *
        </label>
        <div class="col-12 col-md-10 col-xl-10">
            <select class="form-control" id="user_id" *ngIf="this.users"
                    [formControl]="form.controls['user_id']"
                    [ngClass]="{'is-invalid': !isValid('user_id')}"
                    [(ngModel)]="post.user_id">
                <option>Select Author</option>
                <option *ngFor="let user of users" value="{{user.id}}">
                    {{user.name}}
                </option>
            </select>
            <div class="form-text text-danger"
                 *ngIf="form.controls['user_id'].touched && (form.controls['user_id'].hasError('pattern') || form.controls['user_id'].hasError('required'))">
                Select author
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="preview" class="col-12 col-md-2 col-xl-2 col-form-label">Preview</label>
        <div class="col-12 col-md-10 col-xl-10">
            <textarea [formControl]="form.controls['preview']" class="form-control" id="preview" rows="2"
                      [ngClass]="{'is-invalid': !isValid('preview')}" [(ngModel)]="post.preview"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="content" class="col-12 col-md-2 col-xl-2 col-form-label">Content</label>
        <div class="col-12 col-md-10 col-xl-10">
            <textarea [formControl]="form.controls['content']" class="form-control" id="content" rows="10"
                      [ngClass]="{'is-invalid': !isValid('content')}" [(ngModel)]="post.content"></textarea>
        </div>
    </div>

    <div class="mt-4">
        <button class="btn btn-info" [disabled]="!form.valid || submitted == true">Save</button>
        <a class="btn btn-secondary ml-2" routerLink="/">Cancel</a>
    </div>
</form>
