<div *ngIf="posts" class="row">
    <div class="col-sm-6" *ngFor="let post of posts">
        <article class="card my-3 mx-3">
            <div class="card-header d-flex justify-content-between align-content-center">
                <h5 class="card-title text-info mb-0">{{post.title}}</h5>
                <div class="actions">
                    <a (click)="editPost(post.id)" class="oi oi-pencil text-info ml-3" title="icon name"
                       aria-hidden="true"></a>
                    <a (click)="deletePost(post.id)" class="oi oi-x text-danger ml-3" title="icon name"
                       aria-hidden="true"></a>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <span class="oi oi-person text-info mr-3"></span>
                    <span>{{post.author}}</span>
                    <span class="oi oi-clock text-info ml-4 mr-2"></span>
                    <span>{{post.updated_at | date:'dd MMM yyyy \'at\' HH:mm'}}</span>
                </div>
                <hr>
                <p class="card-text" *ngIf="!post.isCollapsed">{{post.preview}}</p>
                <div class="my-2" id="{{post.id}}" [ngbCollapse]="!post.isCollapsed">{{post.content}}</div>
                <a class="btn btn-outline-info" (click)="post.isCollapsed = !post.isCollapsed"
                   [attr.aria-expanded]="!post.isCollapsed" [attr.aria-controls]="post.id">Show more</a>
            </div>
        </article>
    </div>
</div>